*{
    box-sizing:border-box;
}

#div1{
    width:300px;
    height:100px;
    border:1px solid blue;
    font-size:2rem;
    font-family:Raleway, Arial;
}
#div2{
    width:300px;
    height:100px;
    padding:60px;
    border:1px solid red;
    /*16px = 1em of 1rem;*/

    font-size:2rem;/*2x16px=32px**/

}
